<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- vue.dev -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- vue.min -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>File Transfer</title>
  <style>
      table {
          border: 1;
          border-collapse: collapse;
          margin-right: 50px;
      }
  </style>
</head>
<body>

<div id="app"></div>


<script>

  // prepare component of
  const DownloadTable = {
    name: 'DownloadTable',
    template: `
      <div>
      <h1>File to download</h1>
      Current dir: {{ pathTreeObj.currentDirName }}
      <button @click="backToParentDir()">back to parent dir</button>
      <br>
      <table>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Operation</th>
        </tr>
        <template v-show="pathTreeObj.subFolderList">
          <tr v-for="dirName in pathTreeObj.subFolderList" :key="dirName">
            <td>Dir</td>
            <td>{{ dirName }}</td>
            <td @click="openDir(dirName)">
              <button>open</button>
            </td>
          </tr>
        </template>
        <tr v-for="fileName in pathTreeObj.subFileList" :key="fileName">
          <td>File</td>
          <td>{{ fileName }}</td>
          <td><a :href="getDownloadUrl(fileName)">
            <button>download</button>
          </a></td>
        </tr>
      </table>

      </div>
    `,
    data() {
      return {
        pathTreeObj: {
          currentDirName: '',
          subFileList: [],
          subFolderList: []
        },
        ROOT_PATH: './files',
      }
    },
    watch: {
      "pathTreeObj.currentDirName": {
        handler(newValue, oldValue) {
          this.$emit('changeDir', newValue);
        }
      }
    },
    methods: {
      getPathTreeObj(path) {
        let data = {'dirPath': path};
        axios.post('path', data).then(
          response => {
            console.log('request successfully', response.data);
            this.pathTreeObj = response.data;
          },
          error => {
            console.log('err', error.message);
          }
        );
      },
      backToParentDir() {
        if (this.pathTreeObj.currentDirName === this.ROOT_PATH) {
          return;
        }
        // get parent dir path
        const pathArray = this.pathTreeObj.currentDirName.split("/");
        pathArray.pop();
        let parentPath = pathArray.join('/')
        // jump to
        this.getPathTreeObj(parentPath);
      },
      openDir(dirName) {
        let path = this.pathTreeObj.currentDirName + '/' + dirName;
        this.getPathTreeObj(path);
      },
      getDownloadUrl(fileName) {
        let filePath = this.pathTreeObj.currentDirName + '/' + fileName;

        return 'download?filePath=' + filePath;
      },

    },
    mounted() {
      this.getPathTreeObj(this.ROOT_PATH);
    }
  }

  const UploadFile = {
    name: 'UploadFile',
    template: `
      <div>
      <h1>Upload File</h1>
      <input ref="file" type="file"/><br/>
      <button type="button" @click="upload()">Upload</button>
      <br/>
      <div v-if="uploadStatus.isUploading">
        Progress:{{ uploadStatus.uploadProgress }}%<br/>
        Result: {{ uploadStatus.result }}
      </div>
      </div>
    `,
    props: ['uploadDir'],
    data() {
      return {
        uploadStatus: {
          isUploading: false,
          uploadProgress: 0,
          result: ''
        }
      }
    },
    computed: {
      uploadUrl() {
        // pass path as url parameter
        return 'upload?dirPath=' + this.uploadDir;
      }
    },
    methods: {
      upload() {
        // 1. prepare data
        let fileToUpload = this.$refs.file.files[0];
        if (fileToUpload === undefined) {
          alert('please select file to upload.')
          return;
        }
        const data = new FormData();
        data.append('file', fileToUpload);

        // 2. write onUploadProgress listener
        const config = {
          onUploadProgress: (progressEvent) => {
            // use arrowFuc to share the 'this' of Vue
            let totalLength = progressEvent.lengthComputable ? progressEvent.total :
              progressEvent.target.getResponseHeader('content-length') ||
              progressEvent.target.getResponseHeader('x-decompressed-content-length');
            // console.log("onUploadProgress", totalLength);
            if (totalLength !== null) {
              this.updateProgress(Math.round((progressEvent.loaded * 100) / totalLength));
            }
          }
        };


        // 3. make request
        this.uploadStatus.isUploading = true;

        axios.post(this.uploadUrl, data, config).then(
          res => { // use of arrow function
            // will make arrowFun share the same this with parentFun
            this.uploadStatus.result = res.data;
            console.log(res);
            // todo: manually update table
          },
          err => {
            this.uploadStatus.result = err.data;
            console.log(err);
          });
      },
      updateProgress(progress) {
        this.uploadStatus.isUploading = true;
        this.uploadStatus.uploadProgress = progress;
      }
    }
  }

  const MsgBox = {
    name: 'MsgBox',
    template: `
      <div>
      <h1>Message Box</h1>
      <span>message:</span>
      <button @click="getMsgs()">refresh</button>
      <ul>
        <li v-for="msg in messages" :key="msg">{{ msg }}</li>
      </ul>
      <label for="msgInput">new message:</label><br/>
      <textarea id="msgInput" ref="msgInput" rows="4" cols="50"></textarea><br/>
      <button @click="putMsg">submit</button>
      </div>
    `,
    data() {
      return {
        messages: []
      }
    },
    methods: {
      getMsgs() {
        axios.get('messages').then(
          response => {
            console.log('request successfully', response.data);
            this.messages = response.data.messages;
            console.log('@@@', this.messages);
          },
          error => {
            console.log('err', error.message);
          }
        );
      },
      putMsg() {
        let inputMsg = this.$refs.msgInput.value;
        const data = {'msg': inputMsg};
        axios.post('messages', data).then(
          response => {
            console.log('request successfully', response.data);
            this.getMsgs();
          },
          error => {
            console.log('err', error.message);
          }
        );
      }
    },
    mounted() {
      this.getMsgs();
    }
  }

  new Vue({
    el: '#app',  // css selector
    components: {
      DownloadTable, UploadFile, MsgBox
    },
    // template 外面要用单个div包裹
    template: `
      <div>
      <!-- Part I: download file -->
      <DownloadTable v-on:changeDir="onChangeDir"></DownloadTable>
      <!-- Part II: upload file -->
      <UploadFile :uploadDir="currDirPath"></UploadFile>
      <!-- Part III: dynamic message box -->
      <MsgBox></MsgBox>
      </div>
    `,
    data: {
      currDirPath: ''
    },
    methods: {
      onChangeDir(val) {
        this.currDirPath = val;
      }
    },
  });

</script>
</body>
</html>